/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --fs-md: 18px;
  --fs-lg: 25px;
  --fs-xl: 116px;
  --fs-xxl: 120px;
  --fs-xxxl: 157px;
  --heading-title-color:#ff0070;
  --accent-color: #ff0070;
  --border-color: #ff0070;
  --text-color: #f1b2ce;
  --border-bottom-color: #f1b2ce;
  --title-color: #db00ff;
  --heading-text: #db00ff;
  --background-color: #000028;
  --hover-button: rgba(255, 0, 112, 0.4);
  --subtitle-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
}

.page.theme_dark .decor {
  display: block;
}