/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --heding-title-color:#353430;
  --accent-color: #ff8dcb;
  --border-color: #353430;
  --text-color: #353430;
  --heading-text:#ffc2e6;
  --border-bottom-color: #353430;
  --hover-button: rgba(50, 49, 45, 0.4);
  --title-color: #ffc2e6;
  --background-color: #fff1f7;
  --subtitle-color: #353430;
  --background-image: url(../images/cover-image-light.png);
}

.page.theme_light .decor {
    display: none;
  }



@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --subtitle-color: #353430;
    --heading-title: #353430;
    --heading-title-color: #353430;
    --border-color: #353430;
    --border-bottom: #353430;
    --text-color: #353430;
    --accent-color: #ff8dcb;
    --heading-text: #ffc2e6;
    --hover-button: rgba(50, 49, 45, 0.4);
    --background-image: url(../images/cover-image-light.png);
  }

  .page.theme_auto {
    background-image: var(--bg-image);
    background-color: #fff1f7;
  }

  .page.theme_auto .decor {
    display: none;
  }

}
