/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-family: "IBM Plex Mono", sans-serif;
  --fs-md: 18px;
  --fs-lg: 25px;
  --fs-xl: 116px;
  --fs-xxl: 120px;
  --fs-xxxl: 157px;
  --heding-title-color:#ff0070;
  --accent-color: #ff0070;
  --border-color: #ff0070;
  --text-color: #f1b2ce;
  --border-bottom-color: #f1b2ce;
  --title-color: #db00ff;
  --background-color: #000028;
  --subtitle-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
}